@font-face {
  font-family: "myfonts";
  src: url("Assets/Font/fonnts.com-Eixample_Villa_Bold.otf") format("truetype");
}

/* Menggunakan font di seluruh halaman */
body {
  font-family: "myfonts", sans-serif;
}

.scoreboard {
  width: 1920px;
  height: 1080px;
  background-image: url(Assets/Other/Scoreboar_derick.png);
}

.upper {
  width: 1920px;
  height: 94px;
  display: flex;
}

.lower {
  width: 1920px;
  height: 30px;

  display: flex;
}

.mapbox {
  width: 341.75px;
  height: 100%;
}

.gb1 {
  width: 50px;
  height: 100%;
  margin-left: 300px;
}

.teamname {
  width: 616px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  color: #000000;

  margin-top: -32px;
}

.morelower {
  width: 1920px;
  height: 30px;
  margin-top: 11px;

  display: flex;
}

.morebox {
  width: 822.5px;
  height: 100%;
}

.score {
  width: 48px;
  height: auto;

  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.tn {
  width: 302px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  color: #000000;
}

.midmorebox {
  width: 142.45px;
  height: auto;
}

.uppermid {
  width: 906.61px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.midscorename {
  width: 86.61;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamnamesc {
  width: 250px;
  height: 100%;
  display: flex;
}
.gb2 {
  width: 50px;
  height: 100%;
  margin-left: 668px;
}

.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.gb3 {
  width: 50px;
  height: 100%;
  margin-left: 191px;
}
